<a href="https://colab.research.google.com/github/Tunde1010/DS-Unit-1-Sprint-1-Data-Wrangling-and-Storytelling/blob/master/Tunde_Akinsawe_LS_DS_112_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
##### Begin Working Here #####
import pandas as pd

In [0]:
# Ames Iowa Housing Dataset:
df = pd.read_csv('https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv')

print(df.shape)
df.head()

(1460, 81)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000

[5 rows x 81 columns]

In [0]:
pd.set_option('display.max_rows', 400)

df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
Alley             object
LotShape          object
LandContour       object
Utilities         object
LotConfig         object
LandSlope         object
Neighborhood      object
Condition1        object
Condition2        object
BldgType          object
HouseStyle        object
OverallQual        int64
OverallCond        int64
YearBuilt          int64
YearRemodAdd       int64
RoofStyle         object
RoofMatl          object
Exterior1st       object
Exterior2nd       object
MasVnrType        object
MasVnrArea       float64
ExterQual         object
ExterCond         object
Foundation        object
BsmtQual          object
BsmtCond          object
BsmtExposure      object
BsmtFinType1      object
BsmtFinSF1         int64
BsmtFinType2      object
BsmtFinSF2         int64
BsmtUnfSF          int64
TotalBsmtSF        int64
Heating           object
HeatingQC         object
CentralAir        object
Electrical        object
1stFlrSF           int64
2ndFlrSF           int64
LowQualFinSF       int64
GrLivArea          int64
BsmtFullBath       int64
BsmtHalfBath       int64
FullBath           int64
HalfBath           int64
BedroomAbvGr       int64
KitchenAbvGr       int64
KitchenQual       object
TotRmsAbvGrd       int64
Functional        object
Fireplaces         int64
FireplaceQu       object
GarageType        object
GarageYrBlt      float64
GarageFinish      object
GarageCars         int64
GarageArea         int64
GarageQual        object
GarageCond        object
PavedDrive        object
WoodDeckSF         int64
OpenPorchSF        int64
EnclosedPorch      int64
3SsnPorch          int64
ScreenPorch        int64
PoolArea           int64
PoolQC            object
Fence             object
MiscFeature       object
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
dtype: object

In [0]:
df['BedroomAbvGr'].head(10)

0    3
1    3
2    3
3    3
4    4
5    1
6    3
7    3
8    2
9    2
Name: BedroomAbvGr, dtype: int64

In [0]:
# Looking at the first ten rows of the `BedroomAbvGr` column.
df['LotFrontage'].head(10)

0    65.0
1    80.0
2    68.0
3    60.0
4    84.0
5    85.0
6    75.0
7     NaN
8    51.0
9    50.0
Name: LotFrontage, dtype: float64

In [0]:
df['LotFrontage'].value_counts(dropna=False)

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
65.0      44
85.0      40
78.0      25
21.0      23
90.0      23
68.0      19
24.0      19
64.0      19
73.0      18
72.0      17
79.0      17
63.0      17
55.0      17
100.0     16
51.0      15
66.0      15
74.0      15
52.0      14
59.0      13
71.0      12
67.0      12
57.0      12
82.0      12
43.0      12
40.0      12
76.0      11
69.0      11
53.0      10
92.0      10
88.0      10
34.0      10
86.0      10
77.0       9
35.0       9
44.0       9
84.0       9
62.0       9
93.0       8
61.0       8
98.0       8
96.0       8
107.0      7
95.0       7
120.0      7
58.0       7
41.0       6
105.0      6
54.0       6
94.0       6
48.0       6
110.0      6
30.0       6
89.0       6
81.0       6
91.0       6
36.0       6
47.0       5
83.0       5
37.0       5
87.0       5
32.0       5
56.0       5
102.0      4
42.0       4
49.0       4
99.0       3
45.0       3
104.0      3
130.0      3
103.0      3
108.0      3
124.0      2
174.0      2
97.0       2
134.0      2
129.0      2
313.0      2
118.0      2
122.0      2
121.0      2
101.0      2
109.0      2
115.0      2
116.0      2
114.0      2
153.0      1
149.0      1
150.0      1
111.0      1
182.0      1
46.0       1
112.0      1
141.0      1
33.0       1
152.0      1
160.0      1
168.0      1
128.0      1
144.0      1
39.0       1
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, dtype: int64

In [0]:
# NaN Not a number
df["LotFrontage"].value_counts(dropna=False).head()

NaN     259
60.0    143
70.0     70
80.0     69
50.0     57
Name: LotFrontage, dtype: int64

In [0]:
import numpy as np

In [0]:
type(np.NaN)

float

In [0]:
# let make a smaller dataframe
small_df = df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'SalePrice']].copy()
small_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice
0          856       856       854     208500
1         1262      1262         0     181500
2          920       920       866     223500
3          756       961       756     140000
4         1145      1145      1053     250000

In [0]:
# new column 'last_pymnt_d_month'

small_df['last_pymnt_d_month']  = small_df['TotalBsmtSF'] + small_df['1stFlrSF'] + small_df['2ndFlrSF']

small_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  SalePrice  last_pymnt_d_month
0          856       856       854     208500                2566
1         1262      1262         0     181500                2524
2          920       920       866     223500                2706
3          756       961       756     140000                2473
4         1145      1145      1053     250000                3343

In [0]:
# adding additional column last_pymnt_d_year
small_df['last_pymnt_d_year'] = (small_df['SalePrice'] / small_df['last_pymnt_d_month'])

small_df.head()

   TotalBsmtSF  1stFlrSF  ...  last_pymnt_d_month  last_pymnt_d_year
0          856       856  ...                2566          81.254871
1         1262      1262  ...                2524          71.909667
2          920       920  ...                2706          82.594235
3          756       961  ...                2473          56.611403
4         1145      1145  ...                3343          74.783129

[5 rows x 6 columns]

In [0]:
import pandas as pd

In [4]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-22 03:41:24--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [         <=>        ]  21.72M   359KB/s    in 64s

2020-01-22 03:42:29 (348 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [5]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [25]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
df.shape
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [31]:
# source of answer slack overflow
df['loan_status'].isin(['Current','Fully Paid']).astype(int)
df.head(5)

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [23]:
df.dtypes

id                       float64
member_id                float64
loan_amnt                  int64
funded_amnt                int64
funded_amnt_inv          float64
                          ...
settlement_status         object
settlement_date           object
settlement_amount        float64
settlement_percentage    float64
settlement_term          float64
Length: 144, dtype: object

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
#!wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

--2020-01-17 20:17:05--  https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz
Resolving s3.amazonaws.com (s3.amazonaws.com)... 52.216.179.133
Connecting to s3.amazonaws.com (s3.amazonaws.com)|52.216.179.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 205548478 (196M) [application/x-gzip]
Saving to: ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’

instacart_online_gr 100%[===================>] 196.03M  35.2MB/s    in 6.1s

2020-01-17 20:17:11 (31.9 MB/s) - ‘instacart_online_grocery_shopping_2017_05_01.tar.gz’ saved [205548478/205548478]

In [0]:
!wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip

--2020-01-17 23:29:26--  https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip
Resolving resources.lendingclub.com (resources.lendingclub.com)... 64.48.1.20
Connecting to resources.lendingclub.com (resources.lendingclub.com)|64.48.1.20|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [application/zip]
Saving to: ‘LoanStats_2018Q4.csv.zip’

LoanStats_2018Q4.cs     [            <=>     ]  21.72M   401KB/s    in 56s

2020-01-17 23:30:23 (395 KB/s) - ‘LoanStats_2018Q4.csv.zip’ saved [22776791]

In [0]:
!unzip LoanStats_2018Q4.csv.zip

Archive:  LoanStats_2018Q4.csv.zip
  inflating: LoanStats_2018Q4.csv

In [0]:
df = pd.read_csv('LoanStats_2018Q4.csv', header=1, skipfooter=2, engine='python')
df.shape

(128397, 144)

In [0]:
df.head()

   id  member_id  ...  settlement_percentage  settlement_term
0 NaN        NaN  ...                  60.01             24.0
1 NaN        NaN  ...                    NaN              NaN
2 NaN        NaN  ...                    NaN              NaN
3 NaN        NaN  ...                    NaN              NaN
4 NaN        NaN  ...                    NaN              NaN

[5 rows x 144 columns]

In [0]:
pd.set_option('display.max_rows', 200)
df.isnull().sum()

id                                            128397
member_id                                     128397
loan_amnt                                          0
funded_amnt                                        0
funded_amnt_inv                                    0
term                                               0
int_rate                                           0
installment                                        0
grade                                              0
sub_grade                                          0
emp_title                                      20942
emp_length                                     11701
home_ownership                                     0
annual_inc                                         0
verification_status                                0
issue_d                                            0
loan_status                                        0
pymnt_plan                                         0
url                                           128397
desc                                          128397
purpose                                            0
title                                              0
zip_code                                           0
addr_state                                         0
dti                                              237
delinq_2yrs                                        0
earliest_cr_line                                   0
inq_last_6mths                                     0
mths_since_last_delinq                         72190
mths_since_last_record                        112950
open_acc                                           0
pub_rec                                            0
revol_bal                                          0
revol_util                                       156
total_acc                                          0
initial_list_status                                0
out_prncp                                          0
out_prncp_inv                                      0
total_pymnt                                        0
total_pymnt_inv                                    0
total_rec_prncp                                    0
total_rec_int                                      0
total_rec_late_fee                                 0
recoveries                                         0
collection_recovery_fee                            0
last_pymnt_d                                     159
last_pymnt_amnt                                    0
next_pymnt_d                                   26736
last_credit_pull_d                                 1
collections_12_mths_ex_med                         0
mths_since_last_major_derog                    99223
policy_code                                        0
application_type                                   0
annual_inc_joint                              111619
dti_joint                                     111619
verification_status_joint                     113553
acc_now_delinq                                     0
tot_coll_amt                                       0
tot_cur_bal                                        0
open_acc_6m                                        0
open_act_il                                        0
open_il_12m                                        0
open_il_24m                                        0
mths_since_rcnt_il                              4478
total_bal_il                                       0
il_util                                        20274
open_rv_12m                                        0
open_rv_24m                                        0
max_bal_bc                                         0
all_util                                          37
total_rev_hi_lim                                   0
inq_fi                                             0
total_cu_tl                                        0
inq_last_12m                                       0
acc_open_past_24mths                               0
avg_cur_bal                                       13
bc_open_to_buy                                  1691
bc_util                                         1754
chargeoff_within_12_mths                           0
delinq_amnt                                        0
mo_sin_old_il_acct                              4478
mo_sin_old_rev_tl_op                               0
mo_sin_rcnt_rev_tl_op                              0
mo_sin_rcnt_tl                                     0
mort_acc                                           0
mths_since_recent_bc                            1591
mths_since_recent_bc_dlq                      103232
mths_since_recent_inq                          16047
mths_since_recent_revol_delinq                 91620
num_accts_ever_120_pd                              0
num_actv_bc_tl                                     0
num_actv_rev_tl                                    0
num_bc_sats                                        0
num_bc_tl                                          0
num_il_tl                                          0
num_op_rev_tl                                      0
num_rev_accts                                      0
num_rev_tl_bal_gt_0                                0
num_sats                                           0
num_tl_120dpd_2m                                2859
num_tl_30dpd                                       0
num_tl_90g_dpd_24m                                 0
num_tl_op_past_12m                                 0
pct_tl_nvr_dlq                                     0
percent_bc_gt_75                                1692
pub_rec_bankruptcies                               0
tax_liens                                          0
tot_hi_cred_lim                                    0
total_bal_ex_mort                                  0
total_bc_limit                                     0
total_il_high_credit_limit                         0
revol_bal_joint                               111619
sec_app_earliest_cr_line                      111619
sec_app_inq_last_6mths                        111619
sec_app_mort_acc                              111619
sec_app_open_acc                              111619
sec_app_revol_util                            111877
sec_app_open_act_il                           111619
sec_app_num_rev_accts                         111619
sec_app_chargeoff_within_12_mths              111619
sec_app_collections_12_mths_ex_med            111619
sec_app_mths_since_last_major_derog           123245
hardship_flag                                      0
hardship_type                                 128164
hardship_reason                               128164
hardship_status                               128164
deferral_term                                 128164
hardship_amount                               128164
hardship_start_date                           128164
hardship_end_date                             128164
payment_plan_start_date                       128164
hardship_length                               128164
hardship_dpd                                  128164
hardship_loan_status                          128164
orig_projected_additional_accrued_interest    128191
hardship_payoff_balance_amount                128164
hardship_last_payment_amount                  128164
debt_settlement_flag                               0
debt_settlement_flag_date                     127946
settlement_status                             127946
settlement_date                               127946
settlement_amount                             127946
settlement_percentage                         127946
settlement_term                               127946
dtype: int64

In [0]:
df['int_rate'].head(10)

0     14.47%
1     10.33%
2     15.02%
3     12.98%
4     16.14%
5     12.98%
6     15.02%
7     16.14%
8     14.47%
9     13.56%
Name: int_rate, dtype: object

In [0]:
df['int_rate'][3]

' 12.98%'

In [0]:
type(df['int_rate'][3])

str

In [0]:
int_rate = ' 12.98%'

In [0]:
int_rate.strip()

'12.98%'

In [0]:
int_rate.strip('%')

' 12.98'

In [0]:
int_rate.strip().strip('%')

'12.98'

In [0]:
float(int_rate.strip().strip('%'))

12.98

In [0]:
float('12.98')

12.98

In [0]:
type(float(int_rate.strip().strip('%')))

float

In [0]:
def myfunc(cell_contents):
  return float(cell_contents.strip().strip('%'))

In [0]:
myfunc(int_rate)

12.98

In [0]:
type(myfunc(int_rate))

float

In [0]:
new_list = []

In [0]:
# for loop
for cell in df['int_rate']:
  new_list.append(myfunc(cell))

In [0]:
# 10 value of new list
new_list[:10]

[14.47, 10.33, 15.02, 12.98, 16.14, 12.98, 15.02, 16.14, 14.47, 13.56]

In [0]:
# convert the list to new column
small_df['int_rate_clean'] = pd.Series(new_list)
small_df.head()

   TotalBsmtSF  1stFlrSF  ...  last_pymnt_d_year  int_rate_clean
0          856       856  ...          81.254871           14.47
1         1262      1262  ...          71.909667           10.33
2          920       920  ...          82.594235           15.02
3          756       961  ...          56.611403           12.98
4         1145      1145  ...          74.783129           16.14

[5 rows x 7 columns]

In [0]:
small_df.dtypes

TotalBsmtSF             int64
1stFlrSF                int64
2ndFlrSF                int64
SalePrice               int64
last_pymnt_d_month      int64
last_pymnt_d_year     float64
int_rate_clean        float64
dtype: object

In [0]:
# .apply function
small_df['int_rate_cleaned2'] = df['int_rate'].apply(myfunc)
small_df.head()

   TotalBsmtSF  1stFlrSF  ...  int_rate_clean  int_rate_cleaned2
0          856       856  ...           14.47              14.47
1         1262      1262  ...           10.33              10.33
2          920       920  ...           15.02              15.02
3          756       961  ...           12.98              12.98
4         1145      1145  ...           16.14              16.14

[5 rows x 8 columns]

In [0]:
#!tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

tar (child): instacart_online_grocery_shopping_2017_05_01.tar.gz: Cannot open: No such file or directory
tar (child): Error is not recoverable: exiting now
tar: Child returned status 2
tar: Error is not recoverable: exiting now

In [0]:
 #%cd instacart_2017_05_01

[Errno 2] No such file or directory: 'instacart_2017_05_01'
/content